@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.leftSide {
    padding: 2% 2%;
    height: 100%;
    position: fixed;
    width: 26%;
}

.leftSide .inputField{
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.leftSide label {
    vertical-align: top;
}

.leftSide .regexError {
    color: #d9534f;
}

.rightSide {
    margin-left: 30%;
}

.items {
    padding-left: 0px;
    margin: 0;
    list-style: none;
    break-inside: avoid-column;
}

.items p {
    padding: 0;
    margin: 0;
}

.items li.item {
    padding: 10px 15px;
    margin: 8px 8px 0 0;
    background-color: #f2fbff;
    break-inside: avoid;
    width: 47%;
    float: left;
}

.items li.item .itemBody {
    display: flex;
}

.items li.item .itemBody .itemMods {
    width: 60%;
}

.items li.item .itemBody .explicitMods {
    list-style: none;
    padding-left: 2em;
    text-indent: -2em;
}

.items li.item .itemBody .itemInfo {
    flex: 1;
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 5px;
}

.items li.item .itemBody .itemInfo .price {
    color: #ff6bbc;
}

li.item.dark {
    background-color: #e5f6ff;
}

.items .item.selected {
    /*outline: 2px solid #6dc2ed;*/
    background-color: #dedede;
}

.item hr {
border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item .itemHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item .itemName {
    margin: 0 15px 0 0;
}

.item .whisperBox {
    flex: 1;
    padding: 4px 5px;
    color: #333;
    border: none;
}

.item .whisperBox:focus {
    outline: none;
}